
{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('FirstGodBundle_product_new') }}" method="post" {{ form_enctype(form) }} >
{{ form_row(form.category.name) }}
  {{ form_rest(form) }}

  <input type="submit" />
 </form>

{% endblock %}